<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body style="width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;">
    <main style="width: 90%;
        height: 90%;">
        <header style="height: 45px;
            background: #232323;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px 8px 0 0;
            padding: 0 24px;">
            <span style="color: #FFFFFF;
                font-size: 18px;
                font-weight: lighter;
                font-family: 'Noto Sans KR', sans-serif;">www.dsm-scarfs.hs.kr</span>
            <span style="color: #FFFFFF;
                font-size: 24px;
                font-family: 'Roboto', sans-serif;">Scarfs</span>
        </header>
        <section style="background-color: #ffffff;
            padding: 16px 64px;
            border-bottom: 1px solid #EEEEEE;">
            <article style="font-family: 'Noto Sans KR', sans-serif;">
                <p style="margin: 0;">안녕하세요. 대덕소프트웨어마이스터고등학교 Scarfs입니다.</p>
                <p style="margin: 0;"><%= @user_name %>님이 제출한 <span style="font-weight: bold;">[<%= @homework_type %>] <%= @homework_title %>과제가 </span><span style="color: #FF5700; font-weight: bold;"><%= @late %></span>처리 되었습니다.</p>
            </article>
        </section>
        <footer style="border-radius: 0 0 8px 8px;
            background-color: #ffffff;
            padding: 16px 64px;">
            <div style="font-family: 'Noto Sans KR', sans-serif;">
                <p style="margin: 0;">SCARFS 회원가입 요청으로 발신된 메일입니다.</p>
                <p style="margin: 0;">본 메일은 발신전용이며 회신되지 않습니다.</p>
            </div>
        </footer>

    </main>
</body>
</html>